<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading"> 
            <h4><strong> {{contact?.name}}</strong></h4>   
            <a class="btn btn-info pull-right" style="margin: 2px" [routerLink]="['/contact' , contact?.id, 'edit']">Edit</a>
            <a class="btn btn-danger pull-right" style="margin: 2px" (click)="onDelete()">Delete</a>
            <img [src]="contact.imageUrl" alt="{{contact.name}}" class="img-responsive">
        </div>          
        <div class="panel-body">
            <p><strong>Email: </strong> {{contact?.email}}</p>
            <p><strong>Phone: </strong> {{contact?.phone}}</p>
        </div>
        <div class="panel-body" *ngFor="let groupContact of contact?.group">
            <div>{{ groupContact?.name }}</div>
            <div>{{ groupContact?.email }}</div>
        </div>
    </div>
</div>